# Core Libraries
numpy
pandas
requests
pdfplumber
tqdm
python-dotenv
lxml
beautifulsoup4

# Pinecone (Vector Database)
pinecone-client

# LangChain & Gemini/Groq Integrations
langchain
langchain-groq
langchain-community
langchain-openai
langchain-pinecone
langchain-core
google-generativeai

# Web Scraping
selenium
webdriver-manager

streamlit

# Search APIs
arxiv
wikipedia-api
duckduckgo-search
wikipedia
